<div class="row">
  <div class="span4 offset4 center my-well">
    <h3>Welcome to Ror Chat</h3>
    <%= link_with_icon "icon-facebook", "/auth/facebook", "Login /w facebook", "btn btn-primary" %> 
  </div>
</div>
